
@font-face {
  font-family: 'THNiramitAS';
  src: url('THNiramitAS.eot?#iefix') format('embedded-opentype'),  url('THNiramitAS.woff') format('woff'), url('THNiramitAS.ttf')  format('truetype'), url('THNiramitAS.svg#THNiramitAS') format('svg');
  font-weight: normal;
  font-style: normal;
}
